.img-hero {
	width: 375px;
	height: 560px;
	background-image: url("../../img/img_Main_1920.svg");
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}

.hero .img-hero {
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5em;
}

.container {
	display: flex;
	position: relative;
	cursor: pointer;
}

.container input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.dots {
	width: 8px;
	height: 8px;
	background-color: var(--white);
	border-radius: 50px;
}

.active-dot {
	background-color: var(--PrimaryRed);
}

.img-hero h1 {
	width: min(100%, 900px);
}

.learn-more-dark:hover {
	background-color: #4a4240;
}

@media screen and (min-width: 376px) {
	.img-hero {
		width: 100%;
		height: 560px;
		background-image: url("../../img/hero_1920.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@media screen and (min-width: 960px) {
	.img-hero h1 {
		font-size: 64px;
		line-height: 64px;
	}
}
