footer .footer-nav {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	column-gap: 1em;
	row-gap: 1.5em;
	font-weight: 300;
}

.footer-nav ul {
	list-style-type: none;
}

.footer-nav li,
h4 {
	margin-bottom: 16px;
}

.footer-nav ul li:last-child {
	margin-bottom: 0px;
}
