footer .footer-nav {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min-content, 120px));
	/* column-gap: 0.5em; */
	row-gap: 1.5em;
	font-weight: 300;
}

.footer-nav ul {
	list-style-type: none;
}

.footer-nav li,
h4 {
	margin-bottom: 24px;
}

.footer-nav ul li:last-child {
	margin-bottom: 0px;
}
