@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
	/* Colours */
	--black: #1a1a1a;
	--white: #fff;
	--PrimaryRed: #ee2624;
	--Grey500: #8c8c8c;
	--Grey200: #e5e5e5;

	/* Fonts */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--black);
}

.learn-more {
	width: 162px;
	height: 38px;
	border: 2px solid var(--PrimaryRed);
	border-radius: 30px;
	/* behövs en background color? */
	/* background-color: var(--black); */
	background-color: transparent;
	color: var(--white);
	cursor: pointer;
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

h1,
p {
	color: var(--white);
}

h1 {
	font-family: Myriad Pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 40px;
	line-height: 42px;
	letter-spacing: -2.5%;
	text-align: center;
}

p {
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
}

/* overraidar nav i footer. vet inte varför? */
/* nav {
	width: 100vw;
	height: 80px;
	background-color: var(--PrimaryRed);
} */

.img-hero {
	width: 375px;
	height: 560px;
	background-image: url("img/hero_1920.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.banner-card .learn-more {
	border: 1px solid var(--white);
}

.banner-card {
	background-color: var(--PrimaryRed);
}

.banner-card .img {
	width: 375px;
	/* height på bild stämmer inte med height vid export */
	height: 226px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.banner-card .radio {
	background-image: url("img/banner_radio.svg");
}

.banner-card .podcast {
	background-image: url("img/banner_podcast.svg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: 1.5em 5.25em;
}

.banner-card .podcast h3 {
	font-family: 'Montserrat', sans-serif;
	color: var(--white);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 42px;
	line-height: 48px;
	margin-bottom: 0.25em;
}

.banner-card .content {
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
}

.hero .img-hero {
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 1.5em;
}

.container {
	display: flex;
	position: relative;
	cursor: pointer;
}

.container input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	height: 6px;
	width: 6px;
	background-color: var(--white);
	border-radius: 50%;
}

.container input:checked ~ .checkmark {
	background-color: var(--PrimaryRed);
}

.checks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

/* footer */
footer {
	font-family: Myriad Pro, sans-serif;
	color: var(--white);
	padding: 2em 1.5em;
}

footer .footer-nav {
	display: grid;
	grid-template-columns: repeat( auto-fill, minmax(150px, 1fr));
	column-gap: 1em;
	row-gap: 1.5em;
	font-weight: 300;
	margin-bottom: 2em;
}

.footer-nav ul {
	list-style-type: none;
}

.footer-nav li, h4 {
	margin-bottom: 16px;
}

footer h4 {
	font-size: 21px;
	font-weight: 700;
}

footer .contact-form {
	width: min(100%, 398px);
	background-color: #262626;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
}

footer .contact-form input {
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--Grey500);
	margin-bottom: 2em;
	padding-bottom: 0.5em;
}

footer .contact-form button {
	align-self: flex-end;
	border: none;
	color: var(--white);
	font-size: 16px;
	font-weight: 700;
	background-color: var(--PrimaryRed);
	width: 172px;
	height: 36px;
}